
body {
  font-family: helvetica;
  text-align: center;
}
.header {
  color: white;
  font-family: helvetica;
  background-image: url('../images/theflatironbuilding.png');
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.navbar_vert {
  font-size: 18px;
  color: white;
}
a {
  color:white;
}
nav#navbar_vert ul{
       list-style-type:none;
       color:white;
}
nav#navbar_hor ul {
  list-style-type: none;
}
.process h2 {
  font-size: 32px;
  font-weight: bold;
}
.process h3 {
  font-size: 23px;
  font-weight: bold;
}
.process p {
  font-size: 14px;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/selga.png);
}
.navbar_hor {
  text-align: left;
  background-color: dimgrey;
  color: white;
}
.br2017 {
  font-size: 11px;
  color:white;
}
